{% extends "website/base.html" %}
{% block title %}
  Register as Counselor
{% endblock title %}
{% block content %}
<section class="page-header">
  <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)">
  </div>
  <div class="container">
      <div class="page-header__inner">
          <h2>About us</h2>
          <ul class="thm-breadcrumb list-unstyled">
              <li><a href="index.html">Home</a></li>
              <li class="active">Register as Counselor</li>
          </ul>
      </div>
  </div>
</section>
<section class="contact-page">
  <div class="container">
      <div class="section-title text-center">
          <span class="section-title__tagline">Register as Counselor</span>
      </div>
      <div class="row">
          <div class="col-xl-12">
              <div class="contact-page__form">
                  <form action="{% url 'accounts:register_counselor' %}" class="comment-one__form contact-form-validated" novalidate="novalidate">
                      <div class="row">
                          <div class="col-xl-6">
                              <div class="comment-form__input-box">
                                  <input type="text" placeholder="Your Name" name="name">
                              </div>
                          </div>
                          <div class="col-xl-6">
                              <div class="comment-form__input-box">
                                  <input type="email" placeholder="Email Address" name="email">
                              </div>
                          </div>
                          <div class="col-xl-6">
                              <div class="comment-form__input-box">
                                  <input type="text" placeholder="Phone Number" name="phone">
                              </div>
                          </div>
                          <div class="col-xl-6">
                              <div class="comment-form__input-box">
                                  <input type="email" placeholder="Subject" name="Subject">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xl-12">
                              <div class="comment-form__input-box">
                                  <textarea name="message" placeholder="Write a Message"></textarea>
                              </div>
                              <button type="submit" class="thm-btn comment-form__btn">send a message</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock content %}